@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)<h3>

    @if (@Model.Machines.Count == 0)
    {
      <h3>No machines have been added to this engineer yet!</h3>
    }
    else
    {
      <h3>Machines:</h3>
      <ul>
        @foreach (Machine machine in Model.Machines)
        {
          string tags = "";
          @if (machine.JoinEntities.Count == 0)
          {
            tags = "This machine does not have any engineers.";
          }
          else
          {
            List<string> engineerList = new List<string>();
            @foreach (EngineerMachine join in machine.JoinEntities)
            {
              engineerList.Add(join.Machine.MachineName);
            }
            tags = String.Join(",", engineerList);
          }
          <li>@machine.MachineName | Engineers: @tags</li>
        }
      </ul>
    }
    <p>@Html.ActionLink("Back to engineers", "Index")</p>
    <p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
    <p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
    <p>@Html.ActionLink("Add new machine", "Create", "Machines")</p>
    <p>@Html.ActionLink("Back to list", "Index")</p>